<h1 style="text-align: center;">Users List</h1>
<div *ngIf="undefined === restItems">Loading...</div>
<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of restItems">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.street}}, {{user.address.suite}}, {{user.address.city}}, {{user.address.zipcode}}</td>
        <td>{{user.phone}}</td>
        <td><a href="#">{{user.website}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
